/* Write your CSS here! */
#mainHeading {
    color:red;
}

#subHeading {
    color: limegreen;
    text-decoration: underline;
    
}

.funParagraph {
    color:green; 
}

.imageCaption {
    color:green
}

body{
    background-color:black;
    color: white;
   
}